<div class="container">
  <header style="text-align: center; color: white">
    <div style="color: white">
      Count : <input [(ngModel)]="count"/>
    </div>
    <div style="color: white">
      Colored : <input type="checkbox" [(ngModel)]="colored" (ngModelChange)="colorChanged()"/>
      Hide dots : <input type="checkbox" [(ngModel)]="hideDots"/>
    </div>
    <div>queens left : {{left}}</div>
    <div>
      <button (click)="refresh()">Refresh</button>
      <button (click)="solve()">Solve</button>
    </div>
  </header>
  <div class="board" [ngClass]="{'hide-dots': hideDots}">
    <div *ngFor="let row of board; let i = index" class="row">
      <div class="square" *ngFor="let col of row; let j = index" (click)="squareClicked(i, j)">
        <div class="content">
          <div class="num">

            <i class="icon-crown" *ngIf="col.type === 1" [ngStyle]="{color: col.color ? col.color : ''}"></i>
            <div class="dot" *ngIf="col.type === 2" [ngStyle]="{'background-color': col.color ? col.color : ''}"></div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
